<div th:fragment="footer">
    <div class="footer-basic">
        <footer>
            <div class="social">
                <a href="https://www.instagram.com" target="_blank"><i class="icon ion-social-instagram"></i></a>
                <a href="#"><i class="icon ion-social-whatsapp"></i></a>
                <a href="#"><i class="icon ion-social-twitter"></i></a>
                <a href="#"><i class="icon ion-social-github"></i></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="/contact">Contact</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">BakuLibrary © 2023</p>
        </footer>
    </div>
</div>