table.mytable {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 150px;
}

table tbody tr:hover {
    cursor: pointer;
    background-color: #e3e3e3 !important;
    transition: 0.4s;
}

.btn-add {
    display: inline-block;
    padding: 10px 30px;
    margin: 150px 20px 0 0;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bolder;
}

.btn-add:hover {
    background-color: white;
    text-decoration: none;
    transition: 0.5s;
}

.btn-add-book {
    background-color: #68B984;
    border: 1px solid #68B984;
}

.btn-add-book:hover {
    color: #68B984;
}

.btn-add-member {
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
}

.btn-add-member:hover {
    color: dodgerblue;
}
