.contact {
    margin-top: 50px;
    margin-bottom: 100px;
}

.name {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 70px;
    font-family: "Arial", sans-serif;
}

.contact-body {
    padding: 0 60px 0 80px;
}

.finish {
    text-align: center;
    font-weight: bolder;
}