* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5 !important;
}

.body-head {
    margin-top: 70px;
    color: #6D9886;
}

.body {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 105px;
    margin-bottom: 100px;
}

.book-border {
    width: 300px;
    height: 480px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 2px 2px 6px 0.5px rgba(167, 166, 166, 0.753);
}

.book-border:hover {
    background-color: rgb(247, 247, 247);
    transition: 0.3s;
    /*transform: scale(1.005);*/
    box-shadow: 2px 2px 6px 3px rgba(167, 166, 166, 0.753)
}

.book-image {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
}

.image {
    width: 200px;
    height: 250px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.name {
    width: 100%;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.author {
    width: 200px;
    text-align: center;
    color: gray;
}

hr {
    background-color: #6D9886;
}

.book-border .add-btn {
    padding: 13px 60px;
    font-weight: 500
}

.book-border .add-btn:hover {
    background-color: white;
    color: green;
    transition: 0.5s;
}
