* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5 !important;
}

.search {
    height: 100%;
    padding: 20px 40px 80px 40px;
    margin-top: 70px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 8px;
    margin-bottom: 250px;
    background-color: white;
}

.search a {
    text-decoration: none;
    color: black;
}

.search a:hover {
    text-decoration: none;
    color: black;
}

.search .search-head {
    font-size: 35px;
    color: gray;
    font-weight: bold;
}

.search-form {
    margin-top: 50px;
}

.search-form .search-input input {
    width: 450px;
    margin-right: 10px;
}

.search-form .search-input button {
    padding: 1px 5px;
}

.search-result {
    color: gray;
    margin-top: 50px;
    margin-bottom: 30px;
}

.result {
    width: 100%;
    height: 280px;
    margin-top: 5px;
    background-color: rgb(241, 241, 241);
    border-radius: 6px;
    display: flex;
}

.result .result-image {
    display: flex;
    align-items: center;
}

.result .result-image img {
    height: 220px;
    margin-left: 30px;
    margin-right: 40px;
    border-radius: 8px;
}

.result .result-name {
    margin-top: 40px;
}

.result .result-name .name{
    font-size: 23px;
    font-weight: 600;
}

.result .result-name .author{
    font-size: 18px;
}

.result .result-name .genre{
    display: inline-block;
}

.result .result-name .pages{
    display: inline-block;
}

.result .result-name div {
    font-size: 13px;
}
