<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <link rel="stylesheet" href="/css/navbar.css">
	<link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/book.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-survival101">
        <div class="container">
            <a class="navbar-brand" href="/">
                BakuLibrary
            </a>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">My Books</a>
                    </li>
                </ul>
                <form class="form-inline" action="#" method="get">
                    <div class="input-group search-box">
                        <input type="text" class="form-control" name="search" placeholder="What are you looking for?" aria-label="Search for...">
                        <span class="input-group-btn">
                                <button class="btn btn-secondary" type="submit"><i class="ion-search"></i></button>
                            </span>
                    </div>
                </form>
            </div>
            <a href="/login" sec:authorize="!isAuthenticated()" class="btn btn-success mybtn">Log In</a>
            <a href="/registration" sec:authorize="!isAuthenticated()" class="btn btn-success mybtn">Sign Up</a>
            <div class="nav-item active username" sec:authorize="isAuthenticated()" sec:authentication="principal.username"></div>
            <form action="#" th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post">
                <button type="submit" class="btn btn-success mybtn">Logout</button>
            </form>
        </div>
    </nav>

    <div class="container">
        <div class="book">
            <div class="book-cover">
                <img th:src="${book.imageUrl}" th:alt="${book.name}" alt="" src="">
            </div>
            <div class="content">
                <div class="name">
                    <h2 th:text="${book.name}"></h2>
                </div>
                <hr>
                <div class="featured-info">
                    <p class="info-head">Book Details</p>
                    <div class="info">
                        <div>
                            <p>Author: </p><span th:text="' ' + ${book.author.authorName}"></span>
                        </div>
                        <div>
                            <p>Pages: </p><span th:text="' ' + ${book.totalPages}"></span>
                        </div>
                        <div>
                            <p>Genre(s): </p><span th:each="genre : ${book.genres}" th:text="' ' + ${genre.genreName}"></span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="about">
                    <p th:text="${book.about}"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-basic">
        <footer>
            <div class="social">
                <a href="https://www.instagram.com" target="_blank"><i class="icon ion-social-instagram"></i></a>
                <a href="#"><i class="icon ion-social-whatsapp"></i></a>
                <a href="#"><i class="icon ion-social-twitter"></i></a>
                <a href="#"><i class="icon ion-social-facebook"></i></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">BakuLibrary © 2023</p>
        </footer>
    </div>
</body>
</html>