<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Contact | BakuLibrary</title>
    <link rel="stylesheet" href="/css/map.css"/>
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>
    <div th:replace="~{fragments/topnav :: navbar}"></div>

    <h1 class="name">Contact</h1>
    <div id="map"></div>
    <div class="container">
        <div class="contact">
            <div class="contact-body">
                <p>Do not hesitate to contact us with your questions, suggestions or feedback. Our library team will be
                    happy to assist you with any issue.</p><br>
                <p>If you have any questions or requests, please contact us using one of the following contact
                    information:</p>
                <div class="contacts">
                    <div class="border">
                        <p class="my-icon"><i class="fa-solid fa-envelope"></i></p>
                        <p>E-mail address</p>
                        <p class="color">vusal.axndzde@gmail.com</p>
                    </div>
                    <div class="border">
                        <p class="my-icon"><i class="fa-solid fa-phone"></i></p>
                        <p>Telephone</p>
                        <p class="color">+994-55-000-00-00</p>
                    </div>
                    <div class="border">
                        <p class="my-icon"><i class="fa-solid fa-map-location-dot"></i></p>
                        <p>Address</p>
                        <p class="color">Baku, Azerbaijan</p>
                    </div>
                </div>
                <p>You can also browse our catalog and review our programs and events by visiting our other pages on our
                    library website.</p>
                <p>There will always be a librarian available in our library. Therefore, to ask you a question or to
                    help you with something. Another way to contact us is through our social media platforms. You can follow us on our Facebook
                    and Twitter accounts and be informed about our events.</p><br>
                <p class="finish">We thank you!</p>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>

    <script type="module" src="/js/map.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&libraries=places&v=weekly" defer></script>
</body>
</html>