<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  			xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Welcome to BakuLibrary</title>
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/css/navbar.css">
	<link rel="stylesheet" href="/css/footer.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:replace="fragments/topnav :: navbar"></div>

	<div class="container">
		<div class="body-head">
			<h4>The books currently present in the library are:</h4>
			<hr>
		</div>
		<div class="body">
			<div class="book-border" th:each="book : ${books}">
				<a th:href="@{/book(id=${book.id})}">
					<div class="book-image">
						<div class="image">
							<img th:src="${book.imageUrl}" th:alt="${book.name}" alt="" src="">
						</div>
					</div>
				</a>
				<div class="name">
					<p th:text="${book.name}"></p>
				</div>
				<div class="author">
					<p th:text="${book.author.authorName}"></p>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-basic">
        <footer>
            <div class="social">
				<a href="https://www.instagram.com" target="_blank"><i class="icon ion-social-instagram"></i></a>
				<a href="#"><i class="icon ion-social-whatsapp"></i></a>
				<a href="#"><i class="icon ion-social-twitter"></i></a>
				<a href="#"><i class="icon ion-social-github"></i></a>
			</div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="/contact">Contact</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">BakuLibrary © 2023</p>
        </footer>
    </div>
</body>
</html>