<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-survival101">
        <div class="container">
            <a class="navbar-brand" href="/">
                Baku Library
            </a>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">My Books</a>
                    </li>
                </ul>
                <form class="form-inline" action="#" th:action="@{search}" method="get">
                    <div class="input-group search-box">
                        <input type="text" class="form-control" name="q" placeholder="What are you looking for?" aria-label="Search for...">
                        <span class="input-group-btn">
                                <button class="btn btn-secondary" type="submit"><i class="ion-search"></i></button>
                            </span>
                    </div>
                </form>
            </div>
            <a th:href="@{/login}" sec:authorize="!isAuthenticated()" class="btn btn-success mybtn">Log In</a>
            <a href="/registration" sec:authorize="!isAuthenticated()" class="btn btn-success mybtn">Sign Up</a>
            <div class="nav-item active username" sec:authorize="isAuthenticated()" sec:authentication="principal.username"></div>
            <form action="#" th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post">
                <button type="submit" class="btn btn-success mybtn">Logout</button>
            </form>
        </div>
    </nav>

    <div class="mycontainer">
        <div class="login form">
            <header>Login</header>
            <form action="#" th:action="@{/authUser}" method="post">
                <input type="text" name="username" placeholder="Enter your email">
                <input type="password" name="password" placeholder="Enter your password">
                <a href="#">Forgot password?</a>
                <input type="submit" class="button" value="Login">
            </form>
            <div class="signup">
                <span class="signup">Don't have an account?
                    <a href="/registration">Signup</a>
                </span>
            </div>
        </div>
    </div>
</body>
</html>