<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Registration - BakuLibrary</title>
    <link rel="stylesheet" href="/css/registration.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</head>
<body>
    <div th:replace="fragments/topnav :: navbar"></div>

    <div class="mycontainer">
        <div class="registration form">
            <header>Signup</header>
            <form action="#" th:action="@{/registration/save}" th:object="${user}" method="post">
                <input type="text" th:field="*{name}" placeholder="Enter your name">
                <input type="text" th:field="*{surname}" placeholder="Enter your surname">
                <input type="email" th:field="*{email}" placeholder="Enter your email">
                <input type="password" th:field="*{password}" placeholder="Create a password">
                <input type="submit" class="button" value="Signup">
            </form>
            <div class="signup">
                <span class="signup">Already have an account?
                    <a href="/login">Login</a>
                </span>
            </div>
        </div>
    </div>
</body>
</html>