<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${param.q} + ' - search | BakuLibrary'"></title>
    <link rel="stylesheet" href="/css/navbar.css">
	<link rel="stylesheet" href="/css/search.css">
	<link rel="stylesheet" href="/css/footer.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</head>
<body>
    <div th:replace="~{fragments/topnav :: navbar}"></div>

    <div class="container">
        <div class="search">
            <div class="search-head">
                Search Books
            </div>
            <hr>
            <div class="search-form">
                <form action="#" th:action="@{/search}" method="get">
					<div class="search-input">
						<input type="text" th:value="${param.q}" name="q" placeholder="What are you looking for?">
						<button type="submit">Search</button>
					</div>
				</form>
            </div>
            <div class="search-result">
                <span th:text="${books.size()}"></span><span> result</span>
            </div>
            <a th:href="@{/book(id=${book.id})}" th:each="book : ${books}">
                <div class="result">
                    <div class="result-image">
                        <img th:src="${book.imageUrl}" th:alt="${book.name}" alt="" src="">
                    </div>
                    <div class="result-name">
                        <p class="name" th:text="${book.name}"></p>
                        <p class="author" th:text="'by ' + ${book.author.authorName}"></p>
                        <div>
                            <span>Total Pages: </span>
                            <p class="pages" th:text="${book.totalPages}"></p>
                        </div>
                        <div>
                            <span>Genre(s): </span>
                            <p class="genre" th:each="genre : ${book.genres}" th:text="' ' + ${genre.genreName}"></p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>